In [1]:
from statsmodels.stats.stattools import jarque_bera
import pandas as pd

In [2]:
import pandas as pd
df = pd.read_csv('./data/variables.csv')
df

,Date,S0042FS,LMCADS03,LMCADY,DXY,CPMINDX,LMFUCAVD,LMEXCA,COMXCOPR,SPX,BCOM,MXWD,CL1,XAU,XAG,IOEA
0,4/10/2024,4.50,9374.0,9240.45,105.25,50.8,172584.0,-750.0,29285.0,5160.64,102.8709,772.78,86.21,2334.04,27.9481,815.5
1,4/9/2024,4.19,9417.5,9283.00,104.15,50.8,207245.0,9950.0,29607.0,5209.91,102.8042,779.23,85.23,2352.78,28.1520,802.0
2,4/8/2024,4.25,9411.5,9281.51,104.14,50.8,240872.0,-1250.0,29505.0,5202.39,102.9183,778.04,86.43,2339.03,27.8505,772.0
3,4/5/2024,4.19,9329.5,9208.50,104.30,50.8,152144.0,3000.0,29454.0,5204.34,102.8961,776.51,86.91,2329.75,27.4757,767.0
4,4/4/2024,4.06,9359.0,9242.06,104.12,50.8,171580.0,-450.0,29684.0,5147.21,102.2595,773.44,86.59,2290.94,26.9141,767.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10430,4/18/1984,NaN,NaN,NaN,129.97,NaN,NaN,NaN,NaN,157.90,92.9319,NaN,30.66,380.25,9.2070,NaN
10431,4/17/1984,NaN,NaN,NaN,129.88,NaN,NaN,NaN,NaN,158.97,92.2516,NaN,30.66,380.20,9.1750,NaN
10432,4/16/1984,NaN,NaN,NaN,129.72,NaN,NaN,NaN,NaN,158.32,92.1128,NaN,30.69,380.10,9.1450,NaN
10433,4/13/1984,NaN,NaN,NaN,129.25,NaN,NaN,NaN,NaN,157.31,92.3060,NaN,30.68,379.25,9.1300,NaN
10434,4/12/1984,NaN,NaN,NaN,128.97,NaN,NaN,NaN,NaN,157.73,91.9996,NaN,30.70,381.90,9.2400,NaN

In [3]:
df['Date'] = pd.to_datetime(df['Date'], dayfirst=False)  # Convertir la columna de fecha a datetime
df = df[(df['Date'] >= '2003-01-01') & (df['Date'] <= '2024-04-01')]
df

,Date,S0042FS,LMCADS03,LMCADY,DXY,CPMINDX,LMFUCAVD,LMEXCA,COMXCOPR,SPX,BCOM,MXWD,CL1,XAU,XAG,IOEA
7,2024-04-01,4.12,8867.0,8766.51,105.02,50.8,141741.0,-625.0,29905.0,5243.77,99.9046,780.83,83.71,2251.44,25.0842,745.0
8,2024-03-29,4.00,8867.0,8766.51,104.49,50.8,141741.0,-625.0,30059.0,5254.35,99.4894,783.58,83.17,2229.87,24.9631,748.5
9,2024-03-28,4.01,8867.0,8766.51,104.55,49.1,141741.0,-625.0,30059.0,5254.35,99.4894,783.17,83.17,2229.87,24.9631,758.5
10,2024-03-27,3.93,8849.5,8744.39,104.35,49.1,110828.0,-4300.0,30504.0,5248.49,98.3107,782.94,81.35,2194.79,24.6488,764.5
11,2024-03-26,3.98,8862.0,8748.47,104.30,49.1,97042.0,-500.0,30951.0,5203.58,98.6781,778.53,81.62,2178.80,24.4553,792.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5546,2003-01-07,NaN,1621.0,1604.00,102.57,NaN,NaN,NaN,399458.0,922.93,112.5945,197.93,31.08,347.25,4.8000,NaN
5547,2003-01-06,NaN,1628.5,1611.20,101.97,NaN,NaN,NaN,399458.0,929.01,112.8986,199.69,32.10,351.25,4.8975,NaN
5548,2003-01-03,NaN,1611.0,1594.75,102.47,NaN,NaN,NaN,399368.0,908.59,114.7330,196.02,33.08,351.25,4.8900,NaN
5549,2003-01-02,NaN,1590.0,1573.40,102.98,NaN,NaN,NaN,399341.0,909.03,113.1054,195.28,31.85,346.05,4.8180,NaN
5550,2003-01-01,NaN,1560.0,1542.50,101.88,NaN,NaN,NaN,399341.0,879.82,110.2756,190.80,31.20,348.05,4.7800,NaN

In [4]:
# count null values
df.isnull().sum()

Date           0
S0042FS     1043
LMCADS03       0
LMCADY         0
DXY            0
CPMINDX      478
LMFUCAVD     771
LMEXCA      2071
COMXCOPR       0
SPX            0
BCOM           0
MXWD           0
CL1            0
XAU            0
XAG            0
IOEA        2817
dtype: int64

In [5]:
# drop columns with null values, significa que las columnas no tienen suficiente data
df = df.dropna(axis=1)

print(df.isnull().sum())
print(df.dtypes)
df

Date        0
LMCADS03    0
LMCADY      0
DXY         0
COMXCOPR    0
SPX         0
BCOM        0
MXWD        0
CL1         0
XAU         0
XAG         0
dtype: int64
Date        datetime64[ns]
LMCADS03           float64
LMCADY             float64
DXY                float64
COMXCOPR           float64
SPX                float64
BCOM               float64
MXWD               float64
CL1                float64
XAU                float64
XAG                float64
dtype: object

,Date,LMCADS03,LMCADY,DXY,COMXCOPR,SPX,BCOM,MXWD,CL1,XAU,XAG
7,2024-04-01,8867.0,8766.51,105.02,29905.0,5243.77,99.9046,780.83,83.71,2251.44,25.0842
8,2024-03-29,8867.0,8766.51,104.49,30059.0,5254.35,99.4894,783.58,83.17,2229.87,24.9631
9,2024-03-28,8867.0,8766.51,104.55,30059.0,5254.35,99.4894,783.17,83.17,2229.87,24.9631
10,2024-03-27,8849.5,8744.39,104.35,30504.0,5248.49,98.3107,782.94,81.35,2194.79,24.6488
11,2024-03-26,8862.0,8748.47,104.30,30951.0,5203.58,98.6781,778.53,81.62,2178.80,24.4553
...,...,...,...,...,...,...,...,...,...,...,...
5546,2003-01-07,1621.0,1604.00,102.57,399458.0,922.93,112.5945,197.93,31.08,347.25,4.8000
5547,2003-01-06,1628.5,1611.20,101.97,399458.0,929.01,112.8986,199.69,32.10,351.25,4.8975
5548,2003-01-03,1611.0,1594.75,102.47,399368.0,908.59,114.7330,196.02,33.08,351.25,4.8900
5549,2003-01-02,1590.0,1573.40,102.98,399341.0,909.03,113.1054,195.28,31.85,346.05,4.8180
5550,2003-01-01,1560.0,1542.50,101.88,399341.0,879.82,110.2756,190.80,31.20,348.05,4.7800

In [6]:
# count how many of the rows are saturday and sunday
df['Day'] = df['Date'].dt.day_name()
df['Day'].value_counts()

C:\Users\gapuj\AppData\Local\Temp\ipykernel_17772\2065836857.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Day'] = df['Date'].dt.day_name()

Day
Monday       1109
Friday       1109
Thursday     1109
Wednesday    1109
Tuesday      1108
Name: count, dtype: int64

In [7]:
# if column Day exists, drop it
if 'Day' in df.columns:
    df = df.drop(columns=['Day'])

# copy the dataframe values
df2 = df.copy()

# convert every column to return [(Pt-Pt-1)/Pt-1] (except the date column obviously)
for i in df2.columns[1:]:
    df2[i] = df2[i].pct_change()

df2.dropna(inplace=True)
df2

,Date,LMCADS03,LMCADY,DXY,COMXCOPR,SPX,BCOM,MXWD,CL1,XAU,XAG
8,2024-03-29,0.000000,0.000000,-0.005047,0.005150,0.002018,-0.004156,0.003522,-0.006451,-0.009581,-0.004828
9,2024-03-28,0.000000,0.000000,0.000574,0.000000,0.000000,0.000000,-0.000523,0.000000,0.000000,0.000000
10,2024-03-27,-0.001974,-0.002523,-0.001913,0.014804,-0.001115,-0.011847,-0.000294,-0.021883,-0.015732,-0.012591
11,2024-03-26,0.001413,0.000467,-0.000479,0.014654,-0.008557,0.003737,-0.005633,0.003319,-0.007285,-0.007850
12,2024-03-25,0.001241,0.001047,-0.000767,-0.002326,0.002808,0.006127,0.001182,0.004043,-0.003199,0.009327
...,...,...,...,...,...,...,...,...,...,...,...
5546,2003-01-07,-0.009774,-0.009724,0.006872,0.000381,0.014287,-0.004085,0.014765,0.017016,-0.018041,-0.010309
5547,2003-01-06,0.004627,0.004489,-0.005850,0.000000,0.006588,0.002701,0.008892,0.032819,0.011519,0.020312
5548,2003-01-03,-0.010746,-0.010210,0.004903,-0.000225,-0.021980,0.016248,-0.018378,0.030530,0.000000,-0.001531
5549,2003-01-02,-0.013035,-0.013388,0.004977,-0.000068,0.000484,-0.014186,-0.003775,-0.037183,-0.014804,-0.014724
5550,2003-01-01,-0.018868,-0.019639,-0.010682,0.000000,-0.032133,-0.025019,-0.022941,-0.020408,0.005780,-0.007887

In [8]:
df.to_csv('./out/data_clean_raw.csv', index=False)
df

,Date,LMCADS03,LMCADY,DXY,COMXCOPR,SPX,BCOM,MXWD,CL1,XAU,XAG
7,2024-04-01,8867.0,8766.51,105.02,29905.0,5243.77,99.9046,780.83,83.71,2251.44,25.0842
8,2024-03-29,8867.0,8766.51,104.49,30059.0,5254.35,99.4894,783.58,83.17,2229.87,24.9631
9,2024-03-28,8867.0,8766.51,104.55,30059.0,5254.35,99.4894,783.17,83.17,2229.87,24.9631
10,2024-03-27,8849.5,8744.39,104.35,30504.0,5248.49,98.3107,782.94,81.35,2194.79,24.6488
11,2024-03-26,8862.0,8748.47,104.30,30951.0,5203.58,98.6781,778.53,81.62,2178.80,24.4553
...,...,...,...,...,...,...,...,...,...,...,...
5546,2003-01-07,1621.0,1604.00,102.57,399458.0,922.93,112.5945,197.93,31.08,347.25,4.8000
5547,2003-01-06,1628.5,1611.20,101.97,399458.0,929.01,112.8986,199.69,32.10,351.25,4.8975
5548,2003-01-03,1611.0,1594.75,102.47,399368.0,908.59,114.7330,196.02,33.08,351.25,4.8900
5549,2003-01-02,1590.0,1573.40,102.98,399341.0,909.03,113.1054,195.28,31.85,346.05,4.8180
5550,2003-01-01,1560.0,1542.50,101.88,399341.0,879.82,110.2756,190.80,31.20,348.05,4.7800

In [9]:
df2.to_csv('./out/data_clean_return.csv', index=False)
df2

,Date,LMCADS03,LMCADY,DXY,COMXCOPR,SPX,BCOM,MXWD,CL1,XAU,XAG
8,2024-03-29,0.000000,0.000000,-0.005047,0.005150,0.002018,-0.004156,0.003522,-0.006451,-0.009581,-0.004828
9,2024-03-28,0.000000,0.000000,0.000574,0.000000,0.000000,0.000000,-0.000523,0.000000,0.000000,0.000000
10,2024-03-27,-0.001974,-0.002523,-0.001913,0.014804,-0.001115,-0.011847,-0.000294,-0.021883,-0.015732,-0.012591
11,2024-03-26,0.001413,0.000467,-0.000479,0.014654,-0.008557,0.003737,-0.005633,0.003319,-0.007285,-0.007850
12,2024-03-25,0.001241,0.001047,-0.000767,-0.002326,0.002808,0.006127,0.001182,0.004043,-0.003199,0.009327
...,...,...,...,...,...,...,...,...,...,...,...
5546,2003-01-07,-0.009774,-0.009724,0.006872,0.000381,0.014287,-0.004085,0.014765,0.017016,-0.018041,-0.010309
5547,2003-01-06,0.004627,0.004489,-0.005850,0.000000,0.006588,0.002701,0.008892,0.032819,0.011519,0.020312
5548,2003-01-03,-0.010746,-0.010210,0.004903,-0.000225,-0.021980,0.016248,-0.018378,0.030530,0.000000,-0.001531
5549,2003-01-02,-0.013035,-0.013388,0.004977,-0.000068,0.000484,-0.014186,-0.003775,-0.037183,-0.014804,-0.014724
5550,2003-01-01,-0.018868,-0.019639,-0.010682,0.000000,-0.032133,-0.025019,-0.022941,-0.020408,0.005780,-0.007887

In [10]:
df3 = df2.select_dtypes(include=['number'])

# Ahora calcular el resumen estadÃ­stico solo para datos numÃ©ricos
summary = df3.describe().T

# Calcular kurtosis y asimetrÃ­a solo para las columnas numÃ©ricas
summary['kurtosis'] = df3.kurtosis()
summary['skew'] = df3.skew()

# aplicar jarque_bera solo a las columnas numÃ©ricas
jarque_bera_results = {col: jarque_bera(df3[col].dropna()) for col in df3}

# Crear un DataFrame con los resultados del test de Jarque-Bera
jb_summary = pd.DataFrame(
    {col: {'Jarque Bera': result[0]} for col, result in jarque_bera_results.items()}
).T

summary = summary.join(jb_summary)
summary

,count,mean,std,min,25%,50%,75%,max,kurtosis,skew,Jarque Bera
LMCADS03,5543.0,-0.000185,0.016053,-0.112019,-0.008637,0.000000,0.007547,0.109603,4.538167,0.306837,4.832667e+03
LMCADY,5543.0,-0.000178,0.016458,-0.110645,-0.008874,0.000000,0.007745,0.109134,4.381154,0.297978,4.504935e+03
DXY,5543.0,0.000006,0.004792,-0.024921,-0.002635,0.000000,0.002654,0.027541,1.884032,0.087509,8.244566e+02
COMXCOPR,5543.0,0.000729,0.021907,-0.610452,-0.001900,0.000000,0.005133,0.707311,340.762102,0.158917,2.677011e+07
SPX,5543.0,-0.000253,0.011791,-0.103782,-0.005469,-0.000390,0.003937,0.136158,14.202697,0.785356,4.706654e+04
BCOM,5543.0,0.000070,0.010248,-0.054910,-0.005554,0.000000,0.005371,0.066117,3.021255,0.391776,2.244596e+03
MXWD,5543.0,-0.000206,0.009877,-0.085172,-0.004878,-0.000640,0.003794,0.105134,13.056235,0.921159,4.007636e+04
CL1,5543.0,-0.001081,0.071777,-4.759241,-0.012566,-0.000231,0.011882,0.326052,3518.684416,-54.138298,2.857077e+09
XAU,5543.0,-0.000279,0.010722,-0.097378,-0.005997,-0.000498,0.004902,0.099792,6.026471,0.483505,8.585747e+03
XAG,5543.0,-0.000110,0.019581,-0.123485,-0.009770,-0.000772,0.008070,0.226116,12.203263,1.402560,3.614248e+04

In [11]:
# invertir filas y columnas
summary = summary.T
summary

,LMCADS03,LMCADY,DXY,COMXCOPR,SPX,BCOM,MXWD,CL1,XAU,XAG
count,5543.000000,5543.000000,5543.000000,5.543000e+03,5543.000000,5543.000000,5543.000000,5.543000e+03,5543.000000,5543.000000
mean,-0.000185,-0.000178,0.000006,7.294444e-04,-0.000253,0.000070,-0.000206,-1.081151e-03,-0.000279,-0.000110
std,0.016053,0.016458,0.004792,2.190658e-02,0.011791,0.010248,0.009877,7.177750e-02,0.010722,0.019581
min,-0.112019,-0.110645,-0.024921,-6.104523e-01,-0.103782,-0.054910,-0.085172,-4.759241e+00,-0.097378,-0.123485
25%,-0.008637,-0.008874,-0.002635,-1.899804e-03,-0.005469,-0.005554,-0.004878,-1.256554e-02,-0.005997,-0.009770
50%,0.000000,0.000000,0.000000,0.000000e+00,-0.000390,0.000000,-0.000640,-2.306007e-04,-0.000498,-0.000772
75%,0.007547,0.007745,0.002654,5.133141e-03,0.003937,0.005371,0.003794,1.188155e-02,0.004902,0.008070
max,0.109603,0.109134,0.027541,7.073112e-01,0.136158,0.066117,0.105134,3.260520e-01,0.099792,0.226116
kurtosis,4.538167,4.381154,1.884032,3.407621e+02,14.202697,3.021255,13.056235,3.518684e+03,6.026471,12.203263
skew,0.306837,0.297978,0.087509,1.589173e-01,0.785356,0.391776,0.921159,-5.413830e+01,0.483505,1.402560
Jarque Bera,4832.667358,4504.934824,824.456556,2.677011e+07,47066.542266,2244.595932,40076.356350,2.857077e+09,8585.747071,36142.484253

In [12]:
# save summary to csv
summary.to_csv('./out/summary_return.csv', index=True)

In [13]:
# ConversiÃ³n de la columna 'Date' a formato datetime para asegurar el orden correcto en los cÃ¡lculos
df2['Date'] = pd.to_datetime(df2['Date'])
df2.sort_values('Date', ascending=False, inplace=True)

# Crear DataFrames separados para cada conjunto de periodos
df_5d = df2.copy()
df_10d = df2.copy()
df_20d = df2.copy()

# CÃ¡lculo de retornos acumulados y desviaciÃ³n estÃ¡ndar para cada DataFrame

# Para 5 dÃ­as
df_5d['LMCADY_acu_5d'] = df_5d['LMCADY'].rolling(window=5).sum()
df_5d['LMCADY_std_5d'] = df_5d['LMCADY'].rolling(window=5).std()

# Para 10 dÃ­as
df_10d['LMCADY_acu_10d'] = df_10d['LMCADY'].rolling(window=10).sum()
df_10d['LMCADY_std_10d'] = df_10d['LMCADY'].rolling(window=10).std()

# Para 20 dÃ­as
df_20d['LMCADY_acu_20d'] = df_20d['LMCADY'].rolling(window=20).sum()
df_20d['LMCADY_std_20d'] = df_20d['LMCADY'].rolling(window=20).std()

# VerificaciÃ³n de los resultados
print(df_5d)
print(df_10d)
print(df_20d)

           Date  LMCADS03    LMCADY       DXY  COMXCOPR       SPX      BCOM  \
8    2024-03-29  0.000000  0.000000 -0.005047  0.005150  0.002018 -0.004156
9    2024-03-28  0.000000  0.000000  0.000574  0.000000  0.000000  0.000000
10   2024-03-27 -0.001974 -0.002523 -0.001913  0.014804 -0.001115 -0.011847
11   2024-03-26  0.001413  0.000467 -0.000479  0.014654 -0.008557  0.003737
12   2024-03-25  0.001241  0.001047 -0.000767 -0.002326  0.002808  0.006127
...         ...       ...       ...       ...       ...       ...       ...
5546 2003-01-07 -0.009774 -0.009724  0.006872  0.000381  0.014287 -0.004085
5547 2003-01-06  0.004627  0.004489 -0.005850  0.000000  0.006588  0.002701
5548 2003-01-03 -0.010746 -0.010210  0.004903 -0.000225 -0.021980  0.016248
5549 2003-01-02 -0.013035 -0.013388  0.004977 -0.000068  0.000484 -0.014186
5550 2003-01-01 -0.018868 -0.019639 -0.010682  0.000000 -0.032133 -0.025019

          MXWD       CL1       XAU       XAG  LMCADY_acu_5d  LMCADY_std_5d
8     0.003522 -0.006451 -0.009581 -0.004828            NaN            NaN
9    -0.000523  0.000000  0.000000  0.000000            NaN            NaN
10   -0.000294 -0.021883 -0.015732 -0.012591            NaN            NaN
11   -0.005633  0.003319 -0.007285 -0.007850            NaN            NaN
12    0.001182  0.004043 -0.003199  0.009327      -0.001010       0.001367
...        ...       ...       ...       ...            ...            ...
5546  0.014765  0.017016 -0.018041 -0.010309      -0.026799       0.009751
5547  0.008892  0.032819  0.011519  0.020312      -0.011388       0.009986
5548 -0.018378  0.030530  0.000000 -0.001531      -0.015156       0.010507
5549 -0.003775 -0.037183 -0.014804 -0.014724      -0.040276       0.007154
5550 -0.022941 -0.020408  0.005780 -0.007887      -0.048471       0.008860

[5543 rows x 13 columns]
           Date  LMCADS03    LMCADY       DXY  COMXCOPR       SPX      BCOM  \
8    2024-03-29  0.000000  0.000000 -0.005047  0.005150  0.002018 -0.004156
9    2024-03-28  0.000000  0.000000  0.000574  0.000000  0.000000  0.000000
10   2024-03-27 -0.001974 -0.002523 -0.001913  0.014804 -0.001115 -0.011847
11   2024-03-26  0.001413  0.000467 -0.000479  0.014654 -0.008557  0.003737
12   2024-03-25  0.001241  0.001047 -0.000767 -0.002326  0.002808  0.006127
...         ...       ...       ...       ...       ...       ...       ...
5546 2003-01-07 -0.009774 -0.009724  0.006872  0.000381  0.014287 -0.004085
5547 2003-01-06  0.004627  0.004489 -0.005850  0.000000  0.006588  0.002701
5548 2003-01-03 -0.010746 -0.010210  0.004903 -0.000225 -0.021980  0.016248
5549 2003-01-02 -0.013035 -0.013388  0.004977 -0.000068  0.000484 -0.014186
5550 2003-01-01 -0.018868 -0.019639 -0.010682  0.000000 -0.032133 -0.025019

          MXWD       CL1       XAU       XAG  LMCADY_acu_10d  LMCADY_std_10d
8     0.003522 -0.006451 -0.009581 -0.004828             NaN             NaN
9    -0.000523  0.000000  0.000000  0.000000             NaN             NaN
10   -0.000294 -0.021883 -0.015732 -0.012591             NaN             NaN
11   -0.005633  0.003319 -0.007285 -0.007850             NaN             NaN
12    0.001182  0.004043 -0.003199  0.009327             NaN             NaN
...        ...       ...       ...       ...             ...             ...
5546  0.014765  0.017016 -0.018041 -0.010309       -0.041087        0.008782
5547  0.008892  0.032819  0.011519  0.020312       -0.037645        0.009069
5548 -0.018378  0.030530  0.000000 -0.001531       -0.034113        0.008699
5549 -0.003775 -0.037183 -0.014804 -0.014724       -0.056890        0.007922
5550 -0.022941 -0.020408  0.005780 -0.007887       -0.071578        0.009051

[5543 rows x 13 columns]
           Date  LMCADS03    LMCADY       DXY  COMXCOPR       SPX      BCOM  \
8    2024-03-29  0.000000  0.000000 -0.005047  0.005150  0.002018 -0.004156
9    2024-03-28  0.000000  0.000000  0.000574  0.000000  0.000000  0.000000
10   2024-03-27 -0.001974 -0.002523 -0.001913  0.014804 -0.001115 -0.011847
11   2024-03-26  0.001413  0.000467 -0.000479  0.014654 -0.008557  0.003737
12   2024-03-25  0.001241  0.001047 -0.000767 -0.002326  0.002808  0.006127
...         ...       ...       ...       ...       ...       ...       ...
5546 2003-01-07 -0.009774 -0.009724  0.006872  0.000381  0.014287 -0.004085
5547 2003-01-06  0.004627  0.004489 -0.005850  0.000000  0.006588  0.002701
5548 2003-01-03 -0.010746 -0.010210  0.004903 -0.000225 -0.021980  0.016248
5549 2003-01-02 -0.013035 -0.013388  0.004977 -0.000068  0.000484 -0.014186
5550 2003-01-01 -0.018868 -0.019639 -0.010682  0.000000 -0.032133 -0.025019

          MXWD       CL1       XAU       XAG  LMCADY_acu_20d  LMCADY_std_20d
8     0.003522 -0.006451 -0.009581 -0.004828             NaN             NaN
9    -0.000523  0.000000  0.000000  0.000000             NaN             NaN
10   -0.000294 -0.021883 -0.015732 -0.012591             NaN             NaN
11   -0.005633  0.003319 -0.007285 -0.007850             NaN             NaN
12    0.001182  0.004043 -0.003199  0.009327             NaN             NaN
...        ...       ...       ...       ...             ...             ...
5546  0.014765  0.017016 -0.018041 -0.010309       -0.054758        0.009923
5547  0.008892  0.032819  0.011519  0.020312       -0.067663        0.008913
5548 -0.018378  0.030530  0.000000 -0.001531       -0.074975        0.009041
5549 -0.003775 -0.037183 -0.014804 -0.014724       -0.080371        0.009253
5550 -0.022941 -0.020408  0.005780 -0.007887       -0.076866        0.008898

[5543 rows x 13 columns]

In [14]:
df_5d_clean = df_5d.dropna()
df_10d_clean = df_10d.dropna()
df_20d_clean = df_20d.dropna()

df_5d_clean. to_csv('./out/copper_returns_5d.csv', index=False)
df_10d_clean.to_csv('./out/copper_returns_10d.csv', index=False)
df_20d_clean.to_csv('./out/copper_returns_20d.csv', index=False)