In [15]:
from statsmodels.stats.stattools import jarque_bera
import pandas as pd

In [16]:
import pandas as pd
df = pd.read_csv('./data/variables.csv')
df

,Date,S0042FS,LMCADS03,LMCADY,DXY,CPMINDX,LMFUCAVD,LMEXCA,COMXCOPR,SPX,BCOM,MXWD,CL1,XAU,XAG,IOEA
0,4/22/2024,4.50,9829.5,9742.00,106.08,50.8,199097.0,-925.0,26830.0,5010.60,102.7800,749.29,82.85,2327.30,27.2000,865.5
1,4/19/2024,4.53,9876.0,9797.24,106.15,50.8,199097.0,-800.0,26810.0,4967.23,103.0556,743.28,83.14,2391.93,28.6890,867.0
2,4/18/2024,4.53,9734.5,9652.00,106.15,50.8,204428.0,-850.0,27256.0,5011.12,102.0947,749.39,82.73,2379.04,28.2446,874.0
3,4/17/2024,4.45,9582.5,9489.70,105.95,50.8,152284.0,-100.0,27801.0,5022.21,102.2248,749.14,82.69,2361.02,28.2233,848.0
4,4/16/2024,4.54,9468.0,9355.10,106.26,50.8,241680.0,400.0,28170.0,5051.41,102.8343,752.23,85.36,2382.89,28.1070,834.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10431,4/27/1984,NaN,NaN,NaN,132.11,NaN,NaN,NaN,NaN,159.89,92.1978,NaN,30.43,379.25,9.0920,NaN
10432,4/26/1984,NaN,NaN,NaN,131.68,NaN,NaN,NaN,NaN,160.30,92.0011,NaN,30.48,379.90,9.2200,NaN
10433,4/25/1984,NaN,NaN,NaN,131.12,NaN,NaN,NaN,NaN,158.65,92.9637,NaN,30.55,382.30,9.2450,NaN
10434,4/24/1984,NaN,NaN,NaN,131.36,NaN,NaN,NaN,NaN,158.07,93.1816,NaN,30.63,383.25,9.3480,NaN
10435,4/23/1984,NaN,NaN,NaN,130.49,NaN,NaN,NaN,NaN,156.80,93.5876,NaN,30.57,384.90,9.3250,NaN

In [17]:
df['Date'] = pd.to_datetime(df['Date'], dayfirst=False)  # Convertir la columna de fecha a datetime
df = df[(df['Date'] >= '2003-01-01') & (df['Date'] <= '2024-04-20')]
df

,Date,S0042FS,LMCADS03,LMCADY,DXY,CPMINDX,LMFUCAVD,LMEXCA,COMXCOPR,SPX,BCOM,MXWD,CL1,XAU,XAG,IOEA
1,2024-04-19,4.53,9876.0,9797.24,106.15,50.8,199097.0,-800.0,26810.0,4967.23,103.0556,743.28,83.14,2391.93,28.6890,867.0
2,2024-04-18,4.53,9734.5,9652.00,106.15,50.8,204428.0,-850.0,27256.0,5011.12,102.0947,749.39,82.73,2379.04,28.2446,874.0
3,2024-04-17,4.45,9582.5,9489.70,105.95,50.8,152284.0,-100.0,27801.0,5022.21,102.2248,749.14,82.69,2361.02,28.2233,848.0
4,2024-04-16,4.54,9468.0,9355.10,106.26,50.8,241680.0,400.0,28170.0,5051.41,102.8343,752.23,85.36,2382.89,28.1070,834.5
5,2024-04-15,4.45,9576.0,9499.47,106.21,50.8,273503.0,-950.0,28707.0,5061.82,102.8128,758.01,85.41,2383.34,28.8720,838.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5554,2003-01-07,NaN,1621.0,1604.00,102.57,NaN,NaN,NaN,399458.0,922.93,112.5945,197.93,31.08,347.25,4.8000,NaN
5555,2003-01-06,NaN,1628.5,1611.20,101.97,NaN,NaN,NaN,399458.0,929.01,112.8986,199.69,32.10,351.25,4.8975,NaN
5556,2003-01-03,NaN,1611.0,1594.75,102.47,NaN,NaN,NaN,399368.0,908.59,114.7330,196.02,33.08,351.25,4.8900,NaN
5557,2003-01-02,NaN,1590.0,1573.40,102.98,NaN,NaN,NaN,399341.0,909.03,113.1054,195.28,31.85,346.05,4.8180,NaN
5558,2003-01-01,NaN,1560.0,1542.50,101.88,NaN,NaN,NaN,399341.0,879.82,110.2756,190.80,31.20,348.05,4.7800,NaN

In [18]:
# count null values
df.isnull().sum()

Date           0
S0042FS     1043
LMCADS03       0
LMCADY         0
DXY            0
CPMINDX      478
LMFUCAVD     771
LMEXCA      2071
COMXCOPR       0
SPX            0
BCOM           0
MXWD           0
CL1            0
XAU            0
XAG            0
IOEA        2817
dtype: int64

In [19]:
# drop columns with null values, significa que las columnas no tienen suficiente data
df = df.dropna(axis=1)

print(df.isnull().sum())
print(df.dtypes)
df

Date        0
LMCADS03    0
LMCADY      0
DXY         0
COMXCOPR    0
SPX         0
BCOM        0
MXWD        0
CL1         0
XAU         0
XAG         0
dtype: int64
Date        datetime64[ns]
LMCADS03           float64
LMCADY             float64
DXY                float64
COMXCOPR           float64
SPX                float64
BCOM               float64
MXWD               float64
CL1                float64
XAU                float64
XAG                float64
dtype: object

,Date,LMCADS03,LMCADY,DXY,COMXCOPR,SPX,BCOM,MXWD,CL1,XAU,XAG
1,2024-04-19,9876.0,9797.24,106.15,26810.0,4967.23,103.0556,743.28,83.14,2391.93,28.6890
2,2024-04-18,9734.5,9652.00,106.15,27256.0,5011.12,102.0947,749.39,82.73,2379.04,28.2446
3,2024-04-17,9582.5,9489.70,105.95,27801.0,5022.21,102.2248,749.14,82.69,2361.02,28.2233
4,2024-04-16,9468.0,9355.10,106.26,28170.0,5051.41,102.8343,752.23,85.36,2382.89,28.1070
5,2024-04-15,9576.0,9499.47,106.21,28707.0,5061.82,102.8128,758.01,85.41,2383.34,28.8720
...,...,...,...,...,...,...,...,...,...,...,...
5554,2003-01-07,1621.0,1604.00,102.57,399458.0,922.93,112.5945,197.93,31.08,347.25,4.8000
5555,2003-01-06,1628.5,1611.20,101.97,399458.0,929.01,112.8986,199.69,32.10,351.25,4.8975
5556,2003-01-03,1611.0,1594.75,102.47,399368.0,908.59,114.7330,196.02,33.08,351.25,4.8900
5557,2003-01-02,1590.0,1573.40,102.98,399341.0,909.03,113.1054,195.28,31.85,346.05,4.8180
5558,2003-01-01,1560.0,1542.50,101.88,399341.0,879.82,110.2756,190.80,31.20,348.05,4.7800

In [20]:
# count how many of the rows are saturday and sunday
df['Day'] = df['Date'].dt.day_name()
df['Day'].value_counts()

C:\Users\gapuj\AppData\Local\Temp\ipykernel_33540\2065836857.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Day'] = df['Date'].dt.day_name()

Day
Friday       1112
Thursday     1112
Wednesday    1112
Tuesday      1111
Monday       1111
Name: count, dtype: int64

In [21]:
# if column Day exists, drop it
if 'Day' in df.columns:
    df = df.drop(columns=['Day'])

# copy the dataframe values
df2 = df.copy()

# convert every column to return [(Pt-Pt-1)/Pt-1] (except the date column obviously)
for i in df2.columns[1:]:
    df2[i] = df2[i].pct_change()

df2.dropna(inplace=True)
df2

,Date,LMCADS03,LMCADY,DXY,COMXCOPR,SPX,BCOM,MXWD,CL1,XAU,XAG
2,2024-04-18,-0.014328,-0.014825,0.000000,0.016636,0.008836,-0.009324,0.008220,-0.004931,-0.005389,-0.015490
3,2024-04-17,-0.015615,-0.016815,-0.001884,0.019996,0.002213,0.001274,-0.000334,-0.000484,-0.007574,-0.000754
4,2024-04-16,-0.011949,-0.014184,0.002926,0.013273,0.005814,0.005962,0.004125,0.032289,0.009263,-0.004121
5,2024-04-15,0.011407,0.015432,-0.000471,0.019063,0.002061,-0.000209,0.007684,0.000586,0.000189,0.027217
6,2024-04-12,-0.012375,-0.017503,-0.001601,0.010137,0.012168,0.001092,0.010105,0.002927,-0.016351,-0.034452
...,...,...,...,...,...,...,...,...,...,...,...
5554,2003-01-07,-0.009774,-0.009724,0.006872,0.000381,0.014287,-0.004085,0.014765,0.017016,-0.018041,-0.010309
5555,2003-01-06,0.004627,0.004489,-0.005850,0.000000,0.006588,0.002701,0.008892,0.032819,0.011519,0.020312
5556,2003-01-03,-0.010746,-0.010210,0.004903,-0.000225,-0.021980,0.016248,-0.018378,0.030530,0.000000,-0.001531
5557,2003-01-02,-0.013035,-0.013388,0.004977,-0.000068,0.000484,-0.014186,-0.003775,-0.037183,-0.014804,-0.014724
5558,2003-01-01,-0.018868,-0.019639,-0.010682,0.000000,-0.032133,-0.025019,-0.022941,-0.020408,0.005780,-0.007887

In [22]:
df.to_csv('./out/data_clean_raw.csv', index=False)
df

,Date,LMCADS03,LMCADY,DXY,COMXCOPR,SPX,BCOM,MXWD,CL1,XAU,XAG
1,2024-04-19,9876.0,9797.24,106.15,26810.0,4967.23,103.0556,743.28,83.14,2391.93,28.6890
2,2024-04-18,9734.5,9652.00,106.15,27256.0,5011.12,102.0947,749.39,82.73,2379.04,28.2446
3,2024-04-17,9582.5,9489.70,105.95,27801.0,5022.21,102.2248,749.14,82.69,2361.02,28.2233
4,2024-04-16,9468.0,9355.10,106.26,28170.0,5051.41,102.8343,752.23,85.36,2382.89,28.1070
5,2024-04-15,9576.0,9499.47,106.21,28707.0,5061.82,102.8128,758.01,85.41,2383.34,28.8720
...,...,...,...,...,...,...,...,...,...,...,...
5554,2003-01-07,1621.0,1604.00,102.57,399458.0,922.93,112.5945,197.93,31.08,347.25,4.8000
5555,2003-01-06,1628.5,1611.20,101.97,399458.0,929.01,112.8986,199.69,32.10,351.25,4.8975
5556,2003-01-03,1611.0,1594.75,102.47,399368.0,908.59,114.7330,196.02,33.08,351.25,4.8900
5557,2003-01-02,1590.0,1573.40,102.98,399341.0,909.03,113.1054,195.28,31.85,346.05,4.8180
5558,2003-01-01,1560.0,1542.50,101.88,399341.0,879.82,110.2756,190.80,31.20,348.05,4.7800

In [23]:
df2.to_csv('./out/data_clean_return.csv', index=False)
df2

,Date,LMCADS03,LMCADY,DXY,COMXCOPR,SPX,BCOM,MXWD,CL1,XAU,XAG
2,2024-04-18,-0.014328,-0.014825,0.000000,0.016636,0.008836,-0.009324,0.008220,-0.004931,-0.005389,-0.015490
3,2024-04-17,-0.015615,-0.016815,-0.001884,0.019996,0.002213,0.001274,-0.000334,-0.000484,-0.007574,-0.000754
4,2024-04-16,-0.011949,-0.014184,0.002926,0.013273,0.005814,0.005962,0.004125,0.032289,0.009263,-0.004121
5,2024-04-15,0.011407,0.015432,-0.000471,0.019063,0.002061,-0.000209,0.007684,0.000586,0.000189,0.027217
6,2024-04-12,-0.012375,-0.017503,-0.001601,0.010137,0.012168,0.001092,0.010105,0.002927,-0.016351,-0.034452
...,...,...,...,...,...,...,...,...,...,...,...
5554,2003-01-07,-0.009774,-0.009724,0.006872,0.000381,0.014287,-0.004085,0.014765,0.017016,-0.018041,-0.010309
5555,2003-01-06,0.004627,0.004489,-0.005850,0.000000,0.006588,0.002701,0.008892,0.032819,0.011519,0.020312
5556,2003-01-03,-0.010746,-0.010210,0.004903,-0.000225,-0.021980,0.016248,-0.018378,0.030530,0.000000,-0.001531
5557,2003-01-02,-0.013035,-0.013388,0.004977,-0.000068,0.000484,-0.014186,-0.003775,-0.037183,-0.014804,-0.014724
5558,2003-01-01,-0.018868,-0.019639,-0.010682,0.000000,-0.032133,-0.025019,-0.022941,-0.020408,0.005780,-0.007887

In [24]:
df3 = df2.select_dtypes(include=['number'])

# Ahora calcular el resumen estadÃ­stico solo para datos numÃ©ricos
summary = df3.describe().T

# Calcular kurtosis y asimetrÃ­a solo para las columnas numÃ©ricas
summary['kurtosis'] = df3.kurtosis()
summary['skew'] = df3.skew()

# aplicar jarque_bera solo a las columnas numÃ©ricas
jarque_bera_results = {col: jarque_bera(df3[col].dropna()) for col in df3}

# Crear un DataFrame con los resultados del test de Jarque-Bera
jb_summary = pd.DataFrame(
    {col: {'Jarque Bera': result[0]} for col, result in jarque_bera_results.items()}
).T

summary = summary.join(jb_summary)
summary

,count,mean,std,min,25%,50%,75%,max,kurtosis,skew,Jarque Bera
LMCADS03,5557.0,-0.000204,0.016046,-0.112019,-0.008710,0.000000,0.007517,0.109603,4.537353,0.308306,4.844029e+03
LMCADY,5557.0,-0.000198,0.016452,-0.110645,-0.008911,0.000000,0.007733,0.109134,4.378216,0.299450,4.511207e+03
DXY,5557.0,0.000004,0.004790,-0.024884,-0.002645,0.000000,0.002651,0.027638,1.885447,0.087774,8.278201e+02
COMXCOPR,5557.0,0.000747,0.021885,-0.610452,-0.001885,0.000000,0.005158,0.707311,341.240415,0.156901,2.691324e+07
SPX,5557.0,-0.000242,0.011783,-0.103782,-0.005458,-0.000374,0.003969,0.136158,14.200199,0.783057,4.716592e+04
BCOM,5557.0,0.000064,0.010239,-0.054910,-0.005560,0.000000,0.005363,0.066117,3.028780,0.392970,2.261664e+03
MXWD,5557.0,-0.000196,0.009870,-0.085172,-0.004868,-0.000639,0.003816,0.105134,13.060509,0.918937,4.019978e+04
CL1,5557.0,-0.001077,0.071690,-4.759241,-0.012541,-0.000239,0.011878,0.326052,3527.037419,-54.200451,2.877915e+09
XAU,5557.0,-0.000290,0.010720,-0.097378,-0.006002,-0.000514,0.004900,0.099792,6.013553,0.483451,8.571490e+03
XAG,5557.0,-0.000134,0.019588,-0.123485,-0.009803,-0.000792,0.008069,0.226116,12.159537,1.397494,3.597462e+04

In [25]:
# invertir filas y columnas
summary = summary.T
summary

,LMCADS03,LMCADY,DXY,COMXCOPR,SPX,BCOM,MXWD,CL1,XAU,XAG
count,5557.000000,5557.000000,5557.000000,5.557000e+03,5557.000000,5557.000000,5557.000000,5.557000e+03,5557.000000,5557.000000
mean,-0.000204,-0.000198,0.000004,7.474142e-04,-0.000242,0.000064,-0.000196,-1.077004e-03,-0.000290,-0.000134
std,0.016046,0.016452,0.004790,2.188514e-02,0.011783,0.010239,0.009870,7.168978e-02,0.010720,0.019588
min,-0.112019,-0.110645,-0.024884,-6.104523e-01,-0.103782,-0.054910,-0.085172,-4.759241e+00,-0.097378,-0.123485
25%,-0.008710,-0.008911,-0.002645,-1.885388e-03,-0.005458,-0.005560,-0.004868,-1.254125e-02,-0.006002,-0.009803
50%,0.000000,0.000000,0.000000,0.000000e+00,-0.000374,0.000000,-0.000639,-2.389486e-04,-0.000514,-0.000792
75%,0.007517,0.007733,0.002651,5.158396e-03,0.003969,0.005363,0.003816,1.187757e-02,0.004900,0.008069
max,0.109603,0.109134,0.027638,7.073112e-01,0.136158,0.066117,0.105134,3.260520e-01,0.099792,0.226116
kurtosis,4.537353,4.378216,1.885447,3.412404e+02,14.200199,3.028780,13.060509,3.527037e+03,6.013553,12.159537
skew,0.308306,0.299450,0.087774,1.569012e-01,0.783057,0.392970,0.918937,-5.420045e+01,0.483451,1.397494
Jarque Bera,4844.029468,4511.206823,827.820092,2.691324e+07,47165.915260,2261.663897,40199.784532,2.877915e+09,8571.490044,35974.624049

In [26]:
# save summary to csv
summary.to_csv('./out/summary_return.csv', index=True)

In [27]:
# ConversiÃ³n de la columna 'Date' a formato datetime para asegurar el orden correcto en los cÃ¡lculos
df2['Date'] = pd.to_datetime(df2['Date'])
df2.sort_values('Date', ascending=False, inplace=True)

# Crear DataFrames separados para cada conjunto de periodos
df_5d = df2.copy()
df_10d = df2.copy()
df_20d = df2.copy()

# CÃ¡lculo de retornos acumulados y desviaciÃ³n estÃ¡ndar para cada DataFrame

# Para 5 dÃ­as
df_5d['LMCADY_acu_5d'] = df_5d['LMCADY'].rolling(window=5).sum()
df_5d['LMCADY_std_5d'] = df_5d['LMCADY'].rolling(window=5).std()

# Para 10 dÃ­as
df_10d['LMCADY_acu_10d'] = df_10d['LMCADY'].rolling(window=10).sum()
df_10d['LMCADY_std_10d'] = df_10d['LMCADY'].rolling(window=10).std()

# Para 20 dÃ­as
df_20d['LMCADY_acu_20d'] = df_20d['LMCADY'].rolling(window=20).sum()
df_20d['LMCADY_std_20d'] = df_20d['LMCADY'].rolling(window=20).std()

# VerificaciÃ³n de los resultados
print(df_5d)
print(df_10d)
print(df_20d)

           Date  LMCADS03    LMCADY       DXY  COMXCOPR       SPX      BCOM  \
2    2024-04-18 -0.014328 -0.014825  0.000000  0.016636  0.008836 -0.009324
3    2024-04-17 -0.015615 -0.016815 -0.001884  0.019996  0.002213  0.001274
4    2024-04-16 -0.011949 -0.014184  0.002926  0.013273  0.005814  0.005962
5    2024-04-15  0.011407  0.015432 -0.000471  0.019063  0.002061 -0.000209
6    2024-04-12 -0.012375 -0.017503 -0.001601  0.010137  0.012168  0.001092
...         ...       ...       ...       ...       ...       ...       ...
5554 2003-01-07 -0.009774 -0.009724  0.006872  0.000381  0.014287 -0.004085
5555 2003-01-06  0.004627  0.004489 -0.005850  0.000000  0.006588  0.002701
5556 2003-01-03 -0.010746 -0.010210  0.004903 -0.000225 -0.021980  0.016248
5557 2003-01-02 -0.013035 -0.013388  0.004977 -0.000068  0.000484 -0.014186
5558 2003-01-01 -0.018868 -0.019639 -0.010682  0.000000 -0.032133 -0.025019

          MXWD       CL1       XAU       XAG  LMCADY_acu_5d  LMCADY_std_5d
2     0.008220 -0.004931 -0.005389 -0.015490            NaN            NaN
3    -0.000334 -0.000484 -0.007574 -0.000754            NaN            NaN
4     0.004125  0.032289  0.009263 -0.004121            NaN            NaN
5     0.007684  0.000586  0.000189  0.027217            NaN            NaN
6     0.010105  0.002927 -0.016351 -0.034452      -0.047894       0.014048
...        ...       ...       ...       ...            ...            ...
5554  0.014765  0.017016 -0.018041 -0.010309      -0.026799       0.009751
5555  0.008892  0.032819  0.011519  0.020312      -0.011388       0.009986
5556 -0.018378  0.030530  0.000000 -0.001531      -0.015156       0.010507
5557 -0.003775 -0.037183 -0.014804 -0.014724      -0.040276       0.007154
5558 -0.022941 -0.020408  0.005780 -0.007887      -0.048471       0.008860

[5557 rows x 13 columns]
           Date  LMCADS03    LMCADY       DXY  COMXCOPR       SPX      BCOM  \
2    2024-04-18 -0.014328 -0.014825  0.000000  0.016636  0.008836 -0.009324
3    2024-04-17 -0.015615 -0.016815 -0.001884  0.019996  0.002213  0.001274
4    2024-04-16 -0.011949 -0.014184  0.002926  0.013273  0.005814  0.005962
5    2024-04-15  0.011407  0.015432 -0.000471  0.019063  0.002061 -0.000209
6    2024-04-12 -0.012375 -0.017503 -0.001601  0.010137  0.012168  0.001092
...         ...       ...       ...       ...       ...       ...       ...
5554 2003-01-07 -0.009774 -0.009724  0.006872  0.000381  0.014287 -0.004085
5555 2003-01-06  0.004627  0.004489 -0.005850  0.000000  0.006588  0.002701
5556 2003-01-03 -0.010746 -0.010210  0.004903 -0.000225 -0.021980  0.016248
5557 2003-01-02 -0.013035 -0.013388  0.004977 -0.000068  0.000484 -0.014186
5558 2003-01-01 -0.018868 -0.019639 -0.010682  0.000000 -0.032133 -0.025019

          MXWD       CL1       XAU       XAG  LMCADY_acu_10d  LMCADY_std_10d
2     0.008220 -0.004931 -0.005389 -0.015490             NaN             NaN
3    -0.000334 -0.000484 -0.007574 -0.000754             NaN             NaN
4     0.004125  0.032289  0.009263 -0.004121             NaN             NaN
5     0.007684  0.000586  0.000189  0.027217             NaN             NaN
6     0.010105  0.002927 -0.016351 -0.034452             NaN             NaN
...        ...       ...       ...       ...             ...             ...
5554  0.014765  0.017016 -0.018041 -0.010309       -0.041087        0.008782
5555  0.008892  0.032819  0.011519  0.020312       -0.037645        0.009069
5556 -0.018378  0.030530  0.000000 -0.001531       -0.034113        0.008699
5557 -0.003775 -0.037183 -0.014804 -0.014724       -0.056890        0.007922
5558 -0.022941 -0.020408  0.005780 -0.007887       -0.071578        0.009051

[5557 rows x 13 columns]
           Date  LMCADS03    LMCADY       DXY  COMXCOPR       SPX      BCOM  \
2    2024-04-18 -0.014328 -0.014825  0.000000  0.016636  0.008836 -0.009324
3    2024-04-17 -0.015615 -0.016815 -0.001884  0.019996  0.002213  0.001274
4    2024-04-16 -0.011949 -0.014184  0.002926  0.013273  0.005814  0.005962
5    2024-04-15  0.011407  0.015432 -0.000471  0.019063  0.002061 -0.000209
6    2024-04-12 -0.012375 -0.017503 -0.001601  0.010137  0.012168  0.001092
...         ...       ...       ...       ...       ...       ...       ...
5554 2003-01-07 -0.009774 -0.009724  0.006872  0.000381  0.014287 -0.004085
5555 2003-01-06  0.004627  0.004489 -0.005850  0.000000  0.006588  0.002701
5556 2003-01-03 -0.010746 -0.010210  0.004903 -0.000225 -0.021980  0.016248
5557 2003-01-02 -0.013035 -0.013388  0.004977 -0.000068  0.000484 -0.014186
5558 2003-01-01 -0.018868 -0.019639 -0.010682  0.000000 -0.032133 -0.025019

          MXWD       CL1       XAU       XAG  LMCADY_acu_20d  LMCADY_std_20d
2     0.008220 -0.004931 -0.005389 -0.015490             NaN             NaN
3    -0.000334 -0.000484 -0.007574 -0.000754             NaN             NaN
4     0.004125  0.032289  0.009263 -0.004121             NaN             NaN
5     0.007684  0.000586  0.000189  0.027217             NaN             NaN
6     0.010105  0.002927 -0.016351 -0.034452             NaN             NaN
...        ...       ...       ...       ...             ...             ...
5554  0.014765  0.017016 -0.018041 -0.010309       -0.054758        0.009923
5555  0.008892  0.032819  0.011519  0.020312       -0.067663        0.008913
5556 -0.018378  0.030530  0.000000 -0.001531       -0.074975        0.009041
5557 -0.003775 -0.037183 -0.014804 -0.014724       -0.080371        0.009253
5558 -0.022941 -0.020408  0.005780 -0.007887       -0.076866        0.008898

[5557 rows x 13 columns]

In [28]:
df_5d_clean = df_5d.dropna()
df_10d_clean = df_10d.dropna()
df_20d_clean = df_20d.dropna()

df_5d_clean. to_csv('./out/copper_returns_5d.csv', index=False)
df_10d_clean.to_csv('./out/copper_returns_10d.csv', index=False)
df_20d_clean.to_csv('./out/copper_returns_20d.csv', index=False)